* {
  font-family: "Segoe UI";
}

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background: linear-gradient(40deg, blue, white)
}

.navbar-links {
  color: white;
  text-decoration: none;
}

.navbar-logo {
  font-size: 32px;
  color: white;
}
