* {
  font-family: "Segoe UI";
}

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: linear-gradient(40deg, blue, white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.navbar-links {
  color: blue;
  text-decoration: none;
}

.navbar-logo {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}
